<!DOCTYPE html>
<html lang="en">
<head>
    {%load staticfiles%}
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'my_travelo/login.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Travelo Login</title>
<style>
    #but{
    float:right;
    margin-top:5%;
    margin-right:20%;
    }
    </style>
</head>
<body>

<nav>
    <input type="button"  onclick="location.href='http://127.0.0.1:8000/home';" id="home" value="Home"/>
    <input type="button"  onclick="location.href='http://127.0.0.1:8000/signup';" id="but1" value="Signup"/>

</nav>


<div class="login_class" id="login_class">
    <canvas> id="demo-canvas"</canvas>
<form method="post">
    {% csrf_token %}
        {{form.as_p}}
    <div class="button">
    <input type="submit" class="submit" value="login" id="but">
    </div>
    </form>
</div>



 <script type="text/javascript">
    $(document).ready(function(){
        $("#home").mouseover(function(){
            $("#home").css("background-color", "white")
        });
    });

    $(document).ready(function(){
        $("#home").mouseout(function(){
            $("#home").css("background-color", "transparent")
        });
    });


    $(document).ready(function(){
        $("#but2").mouseover(function(){
            $("#but2").css("background-color", "white")
        });
    });

    $(document).ready(function(){
        $("#but2").mouseout(function(){
            $("#but2").css("background-color", "transparent")
        });
    });
</script>
</body>
</html>